<h1>Registered Babysitters</h1>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 text-center">
    <ul class="list-group">
      <%= for sitter <- @registered_sitters do %>
        <li class="list-group-item"><%= sitter_info(sitter) %></li>
      <% end %>
    </ul>
  </div>
</div>
